{
  "extends": "airbnb-base",
  "rules": {
    "no-console": "off",
    "spaced-comment": [
      "error",
      "always",
      {
        "markers": ["/"]
      }
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2,
        "maxEOF": 3
      }
    ]
  }
}
